.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* 确保顶部栏位于其他内容之上 */
}

body {
    background-image: url('../images/money.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-info-container {
    max-width: 600px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px; /* 调整标签与冒号之间的间距 */
}

button {
    background-color: #6eadd8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: auto;
}

button:hover {
    background-color: #4d91ab;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user-goods-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-goods {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
